/* General */

html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Oswald', sans-serif;
}

#topbar{
	background-color: brown;
	height: 100px;
	width: 100%;
	display: block;
}

#interactive-area{
	width: 100%;
    height: -moz-calc(100% - 100px);
    height: -webkit-calc(100% - 100px);
    height: -o-calc(100% - 100px);
    height: calc(100% - 100px);
	display: block;
	background-color: #eee;
}

/* Sidebar */

#sidebar{
	height: 100%;
	background-color: blue;
	float: left;
}

#bar{
	background-color: #666;
	width: 100px;
	height: 100%;
	float: left;
}

#bar > div{
	display: block;
}

#bar-expanded{
	float: left;
	display: none;
	height: 100%;
	width: 300px;  /* TODO: May want to calculate this later */
	background-color: #444;
}

/* Map */

#map {
	float: left;
	width: 33%;
	height: 100%;
	background-color: #ddd;
}

/* Timeline area */

#details{
	background-color: #111;
	
	/* Overflow and width: auto are important - leave as is */
	overflow: auto;
	width: auto;
	
	height: 100%;
}

#timeline{

}

#pulse{

}

/* Lightbox */

#lightbox{
	display: none;
}