/* General */

html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font: 14px/16px 'PT Sans', sans-serif;
}

#topbar{
	background: url(../img/header.jpg);
	height: 75px;
	width: 100%;
	display: block;
}

#topbar h1{
	margin: 0 25px;
	display: inline-block;
	max-width: calc(100% - 440px);
  	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}

#search{
	display: inline-block;
	float: right;
}

#interactive-area{
	width: 100%;
    height: -moz-calc(100% - 75px);
    height: -webkit-calc(100% - 75px);
    height: -o-calc(100% - 75px);
    height: calc(100% - 75px);
	display: block;
	background-color: #eee;
}

.line{
	display: block;
	margin: 10px 0;
}

/* Sidebar */

#sidebar{
	height: 100%;
	background-color: blue;
	float: left;
}

#bar{
	background-color: #333;
	width: 75px;
	height: 100%;
	float: left;
}

#bar > div{
	display: block;
}

#bar-expanded{
	float: left;
	display: none;
	height: 100%;
	width: 300px;  /* TODO: May want to calculate this later */
	background-color: #444;
	overflow: auto;
}

/* Map */

#map {
	float: left;
	width: 33%;
	height: 100%;
	background-color: #ddd;
}

/* Timeline area */

#details{
	background-color: #111;
	
	/* Overflow and width: auto are important - leave as is */
	overflow: auto;
	width: auto;
	
	height: 100%;
}

#timeline{
	height: -moz-calc(100% - 51px);
    height: -webkit-calc(100% - 51px);
    height: -o-calc(100% - 51px);
    height: calc(100% - 51px);
	position: relative;
	overflow: hidden;
}

#pulse{
	height: 50px;
	border-top: 1px solid #ccc;
}

/* Lightbox */

#lightbox{
	display: none;
}