/* General */

html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'PT Sans', sans-serif;
}

#topbar{
	background-color: brown;
	height: 100px;
	width: 100%;
	display: block;
}

#interactive-area{
	width: 100%;
    height: -moz-calc(100% - 100px);
    height: -webkit-calc(100% - 100px);
    height: -o-calc(100% - 100px);
    height: calc(100% - 100px);
	display: block;
	background-color: #eee;
}

/* Sidebar */

#sidebar{
	height: 100%;
	background-color: blue;
	float: left;
}

#bar{
	background-color: #666;
	width: 100px;
	height: 100%;
	float: left;
}

#bar > div{
	display: block;
}

#bar-expanded{
	float: left;
	display: none;
	height: 100%;
	width: 300px;  /* TODO: May want to calculate this later */
	background-color: #444;
}

/* Map */

#map {
	float: left;
	width: 33%;
	height: 100%;
	background-color: #ddd;
}

/* Timeline area */

#details{
	background-color: #111;
	
	/* Overflow and width: auto are important - leave as is */
	overflow: auto;
	width: auto;
	
	height: 100%;
}

#timeline{
	height: 100%;
	position: relative;
	overflow: hidden;
}

#pulse{

}

#year{
	margin: 0;
	color: white;
	text-align: center;
	height: 50px;
	line-height: 50px;
	font-weight: normal;
}

.timeline-button{
	height: 34px;
	line-height: 34px;
	margin: 8px;
	width: 100px;
	border-radius: 3px;
	background-color: #333;
	color: #ccc;
	cursor: pointer;
	text-align: center;
	font-weight: lighter;
}
#timeline-prev{
	float: left;
}
#timeline-next{
	float: right;
}

#timeline-inner{
	white-space: nowrap;
	position: absolute;
	transition: left 1s;
}

.timeline-year{
	position: relative;
	height: 100%;
	width: 400px;
	background-color: #333;
	display: inline-block;
	vertical-align: top;
	opacity: .25;
	transition: opacity 1s;
}

.timeline-year.active{
	opacity: 1;
}

.timeline-year p, .timeline-year div{
	white-space: normal;
}

.timeline-entry{
	position: relative;
	height: 50px;
	border-bottom: 1px solid white;
	background-color: white;
	color: black;
	overflow: hidden;
	transition: height .5s;
}

.timeline-entry p, .timeline-entry div{
	margin: 15px;
	position: relative;
}

.timeline-entry p.entry-title, .timeline-entry .mask{
	position: absolute;
	width: 100%;
	top: 0;
}
.timeline-entry p.entry-title{
	color: white;
}

.timeline-entry .mask{
	margin: 0;
	height: 100px;
	background: -moz-linear-gradient(top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.8)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%); /* W3C */
}

/* Lightbox */

#lightbox{
	display: none;
}