/* Overrides */

/* Leaflet */
.leaflet-control-fullscreen a {
  background-color: rgba(0, 0, 0, 0.75) !important;
  background-image: none;
  color: white !important;
  font-size: 14px;
  padding: 10px;
  border: 1px solid rgba(255,255,255,.25);
}

.leaflet-control-fullscreen a .fa-compress{
  display: none;
}

.leaflet-fullscreen-on .leaflet-control-fullscreen a .fa-compress{
  display: block;
}

.leaflet-fullscreen-on .leaflet-control-fullscreen a .fa-expand{
  display: none;
}

/* Slider */

.ui-slider-horizontal {
	height: 1px;
	background: #999;
	border: none;
	border-radius: 0;
}

.ui-slider-range{
	height: 2px !important;
	background: #fff;
}

.ui-slider-handle{
	border-radius: 100px;
	background: #999 !important;
	top: -.6em !important;
}

.ui-slider-handle:hover{
	background: #fff !important;
	cursor: pointer;
}

/* Accordion */

.ui-accordion,
.ui-accordion-content {
	background: none;
	border: none;
	border-radius: 0 !important;
	padding: 0 !important;
}

.ui-accordion-header {
	background: none;
	border: none;
	padding: 10px 5px !important;
}