/* General Styles */


/* Sidebar */

#bar {
	border-collapse: collapse;
	display: table;
}

#bar .sidebar-button{
	text-align: center;
	padding: 20px 0;
	cursor: pointer;
	color: #111;
}

#bar .sidebar-button:hover{
	color: #ddd;
}

#bar .sidebar-button.selected{
	background-color: #B42933;
	color: #fff;
}

#bar hr{
	width: 80%;
	border: 1px solid #444;
}

#bar i {
	display: block;
}

#bar .bottom {
	display: table-row;
	vertical-align: bottom;
	height: 1px;
}

/* Map */

/* Timeline area */

/* Lightbox */