/* General Styles */

.italic {
	font-style: italic;
}


/* Sidebar */

#bar {
	border-collapse: collapse;
	display: table;
}

#bar .sidebar-button{
	text-align: center;
	padding: 20px 0;
	cursor: pointer;
	color: #111;
}

#bar .sidebar-button:hover{
	color: #ddd;
}

#bar .sidebar-button.primary.selected{
	background-color: #B42933;
	color: #fff;
}

#bar .sidebar-button.secondary.selected{
	color: #fff;
}

#bar hr{
	width: 80%;
	border: 1px solid #444;
}

#bar i {
	display: block;
}

#bar .bottom {
	display: table-row;
	vertical-align: bottom;
	height: 1px;
}

/* Expanded Sidebar specific styles */
#bar-expanded{
	color: #999;
}

#bar-expanded #filters-expanded > div,
#bar-expanded #tags-expanded > div{
	padding: 20px;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
}

#bar-expanded h3{
	text-transform: uppercase;
	color: #fff;
}

.expanded-title{
	
}

.expanded-section{
	
}

/* Reports section */

#reports-expanded .expanded-title{
	padding: 20px;
}

#reports-accordion h3{
	font-size: 12px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

#reports-accordion p {
	color: #000;
	background: #fff;
	font-size: 12px;
	margin-top: 0;
	padding: 10px;
}

#reports-accordion p:hover {
	color: #000;
	cursor: initial;
}

/* Filters and Tags section */

#filters-expanded .expanded-section p,
#tags-expanded .expanded-section p{
	padding: 20px 0;
	border-bottom: 1px solid #333;
	margin: 0;
}

#filters-expanded .expanded-section p:first-of-type,
#tags-expanded .expanded-section p:first-of-type{
	border-top: 1px solid #333;
}

#filters-expanded #date-range > span{
	color: #fff;
	display: inline-block;
}

#date-range #date-slider{
	width: 65%;
	display: inline-block;
	vertical-align: middle;
}

#date-range #minYear {
	margin-right: 10px;
}

#date-range #maxYear {
	margin-left: 10px;
}

.expanded-section p:hover{
	color: #fff;
	cursor: pointer;
}

.expanded-section p.selected{
	color: #fff;
}

.expanded-section p > i{
	float: right;
}

/* Map */

/* Timeline area */

#timeline{
	color: #fff;
}

/* Lightbox */