/* General Styles */
h1, h2, h3{
	font-family: Oswald, sans-serif;
}

a{ 
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}

/* Sidebar */

#bar > div{
	text-align: center;
	padding: 10px 0;
	cursor: pointer;
}

#bar i {
	display: block;
}

/* Map */

/* Timeline area */

#timeline{
	color: #fff;
}

/* Lightbox */