/* General Styles */
h1, h2, h3{
	font-family: Oswald, sans-serif;
}

/* Sidebar */

#bar > div{
	text-align: center;
	padding: 10px 0;
	cursor: pointer;
}

#bar i {
	display: block;
}

/* Map */

/* Timeline area */

/* Lightbox */